chmax_efetivo_anual 18
chmax_efetivo_semestral 12
chmax_temporario_anual 38
chmax_temporario_semestral 20
chmin_efetivo_anual 16
chmin_temporario_anual 36
chmin_graduacao 8

chesp_efetivo_anual 18
chesp_temporario_anual 36
